.heading
{
width: 100%;
font-size: 30px;
color: black;
box-shadow: 5px 5px 10px salmon;
margin: 0px;
}
.heading_div
{
    float: none;
    background: lightgreen;
    padding: 25px;
    border-radius: 30px;
    color: red;
    box-shadow: 5px 5px 10px red;
}
.heading_div2
{
    font-size: 20px;
    background-color: red;

}
.copy_right_footer
{
    color:red;
    position: fixed;
    bottom: 0;
    background-color: lightgreen;
    width: 100%;
    text-align: center;
    align-items: center;
    line-height: 3;
}
canvas
{
    margin-top: 150px;
}